{{!-- Previous/next page links - only displayed on page 2+ --}}
<div class="extra-pagination inner">
    {{pagination}}
</div>

<div class="post" id="about">
    <h1 style="text-align:center;">About</h1>
    <section class="">
        <p>Hello! My name is Adele Yang. I would like to say the website name adede was inspired by my first letters of name-A
            and my best friend name- DEDE, a labrador. but the reality is DEDE with enthusiasm, passion, hope for the best.
            I liked it and it stuck.</p>
        <p>Anyway, I'm a freelancer designer and illustrator based in Tianjin, China.If you have a project that you want to
            get started, inspire with something or just fancy saying hey.It would be great to hear from you: <a href="mailto:adele@google.com">adeleascloud@gmail.com</a></p>
        <p><a href="https://www.linkedin.com/in/%E5%90%9B%E5%85%B0-%E6%9D%A8-61033912b/"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMgZOr7NCBp5DBEqMGhERY5vJUCT4i_iDPh7Tvz8pVQkeQnQgz" width="30" /></a>&nbsp;
            <a href="https://www.facebook.com/Adede.ml"><img width="30" src="https://www.facebook.com/images/fb_icon_325x325.png"></a>            &nbsp;<a href="https://twitter.com/AYAdeleYang"><img width="33" src="http://www.freeiconspng.com/uploads/twitter-icon-9.png"></a>&nbsp;
            <a href="https://www.instagram.com/adeleascloud/"><img width="34" src="https://www.seeklogo.net/wp-content/uploads/2016/05/instagram-icon-logo-vector-download.jpg"></a>
        </p>
        <p><a href="http://aidesign.b0.upaiyun.com/Adele-cv.pdf" target="_blank" class="btn btn-resume">My Resume</a></p>
    </section>
</div>

<div class="post" id="work">
    <h1 style="text-align:center;">Work</h1>
    <article class='gallery'>
        {{#foreach posts}} {{#if image}}
        <a class='gallery-link' href='{{image}}'>
            <figure class='gallery-image'>
                <img height='1400' src='{{image}}' width='1000'>
                <figcaption>{{title}}</figcaption>
            </figure>
        </a>
        {{/if}} {{/foreach}}
    </article>
</div>

{{!-- This is the post loop - each post will be output using this markup --}}
<div id="blog">
    <h1 style="text-align:center;">Blog</h1>
    {{#foreach posts}}
    {{#if tags}}
    <article class="{{post_class}}">
        <header class="post-header">
            <h2 class="post-title"><a href="{{url}}">{{title}}</a></h2>
        </header>
        <section class="post-excerpt">
            <p>{{excerpt words="26"}} <a class="read-more" href="{{url}}">&raquo;</a></p>
        </section>
        <footer class="post-meta">
            {{#if author.image}}<img class="author-thumb" src="{{author.image}}" alt="{{author.name}}" nopin="nopin" />{{/if}}
            {{author}} {{tags prefix=" on "}}
            <time class="post-date" datetime="{{date format=" YYYY-MM-DD "}}">{{date format="DD MMMM YYYY"}}</time>
        </footer>
    </article>
    {{/if}}
    {{/foreach}}
</div>
{{!-- Previous/next page links - displayed on everypage --}} {{pagination}}